<div class="jumbotron jumbotron-fluid text-center">
  <div class="container mt-n4">
    <h1 class="display-3">Agenda</h1>
    <p class="lead">Lista com todos seus contatos.</p>
    {{>_messages}}
    {{#if contatos}}
    <table class="table table-bordered table-hover table-dark text-center mt-4">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Email</th>
          <th scope="col">Ação</th>
          
        </tr>
      </thead>
      <tbody>
        {{#each contatos}}
        <tr>
          <td>{{nome}}</td>
          <td>{{telefone}}</td>
          <td>{{email}}</td>
          <td><div class="btn-group btn-block btn-group-sm" role="group">
            <a  href="/contato/index/{{_id}}" class="btn btn-info">Editar</button>
            <a href="/contato/delete/{{_id}}" class="btn btn-danger ">Remover</button>
          </div></td>
          
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <p class="text-center">Nao existe contato na sua agenda!</p> 
    {{/if}}
  </div>
</div>